<footer class="main-footer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-credit-card"></i>
					<h2>Sonidos grabados profesionalmente</h2>
					<p>Sonidos de diversos organicos grabados profesionalmente por docentes y alumnos de la Universidad de Tres de Febrero</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-gift"></i>
					<h2>Unite a la comunidad sonora</h2>
					<p>Subi tus propios sonidos, se parte de la comunidad sonora</p>
				</article>
			</div>
			<div class="col-12 col-lg-4">
				<article class="footer-data">
					<i class="fas fa-user-shield"></i>
					<h2>Distintas interfaces </h2>
					<p>Conoce las distintas interfaces que utilizan nuestra tecnolog</p>
				</article>
			</div>
		</div>
	</div>
</footer>
<div class="sub-footer">
	<div class="container">
		<p>Copyright © Universidad de Tres de Febrero</p>
	</div>
</div>